.Piece {
  width: calc(80vmin / 8 * 0.8);
  height: calc(80vmin / 8 * 0.8);

  margin: calc(80vmin / 8 * 0.1);

  border-radius: 50%;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
