* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.infoboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-left: 20%;
    padding-right: 20%;

    background-color: silver;
    font-size: x-large;
}

.player {
    display: flex;
    justify-content: center;
    padding: 2vh;
    
    font-weight: bold;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}
