.field {
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.tile {
    width: 100%;
    height: 100%;
    
    cursor: pointer;    
}

mat-grid-list {
    justify-content: flex-end;
}

mat-grid-tile {
    background-color: green;
    border: 2px solid black;;
}